<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/696edd63-e38a-4b28-bf75-6679c0073089/resourceGroups/LinuxLorryContainer/providers/Microsoft.ContainerRegistry/registries/lorrymobileapi</ResourceId>
    <ResourceName>lorrymobileapi</ResourceName>
    <ResourceGroup>LinuxLorryContainer</ResourceGroup>
    <Subscription>Microsoft Partner Network</Subscription>
    <RegistryUrl>https://lorrymobileapi.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bcf0c7d9-b0c9-4a9a-bdc0-828a2819dedd</ProjectGuid>
  </PropertyGroup>
</Project>