<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/696edd63-e38a-4b28-bf75-6679c0073089/resourceGroups/lorrycontainer_rg/providers/Microsoft.ContainerRegistry/registries/lorrycontainers</ResourceId>
    <ResourceName>lorrycontainers</ResourceName>
    <ResourceGroup>lorrycontainer_rg</ResourceGroup>
    <Subscription>Microsoft Partner Network</Subscription>
    <RegistryUrl>https://lorrycontainers.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8cee50a6-f1bd-440d-b18c-a4fdc059c76c</ProjectGuid>
  </PropertyGroup>
</Project>